[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=1.1.*"
pyopenssl = "==20.0.0"
werkzeug = "==1.0.1"
pydantic = "==1.7.3"
pyyaml = "==5.4.1"
orjson = "*"
fastapi = {extras = ["all"], version = "*"}
uvicorn = "*"
aiofiles = "*"

[dev-packages]
pyinstaller = "==4.1"
pylint = "*"
flake8 = "*"
tox = "*"
pytest = "*"
mypy = "*"
black = "*"
coverage = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
